{%extends "shop/base.html"%}


{% block pagetitle %}KellaPood{% endblock pagetitle %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock scripts %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "shop/includes/navbar.html" %}
            </div>
        </div>
        <!-- Search Form -->
        <div class="row my-3">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Kellade otsing" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- page_obj Grid -->
        <div class="row">
            {% for product in page_obj %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                       <div id="nm{{product.id}}" class="card-title"> {{ product.title }}</div>
                        <p id='price{{product.id}}' class="card-text">{{ product.price }}</p>
                    </div>
                    <div class="d-flex justify-content-between" role="group">
                    <a class="btn btn-warning btn-custom-width" href="{%url 'product-detail' product.pk %} ">Vaata</a>
                    <button id="{{product.id}}" class="btn atc btn-warning btn-custom-width">Lisa korvi</button>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            console.log("Script is running");
                    
                            // Initialize the cart
                            let cart = {};
                            if (localStorage.getItem('cart') !== null) {
                                cart = JSON.parse(localStorage.getItem('cart'));
                            }
                    
                            // Update the cart indicator
                            document.getElementById("cart").innerHTML = "Ostukorv(" + Object.keys(cart).length + ")";
                    
                            // Display the cart contents
                            DisplayCart(cart);
                    
                            // Event listener for "Add to Cart" buttons
                            $(document).off('click', '.atc').on('click', '.atc', function () {
                                console.log("The add to cart button was clicked");
                                const item_id = this.id.toString();
                                console.log(item_id);
                    
                                if (cart[item_id] !== undefined) {
                                    cart[item_id].quantity += 1;
                                } else {
                                    const price = parseFloat(document.getElementById('price' + item_id).innerHTML);
                                    const name = document.getElementById("nm" + item_id).innerHTML;
                                    cart[item_id] = {
                                        quantity: 1,
                                        name: name,
                                        unitPrice: price
                                    };
                                }
                    
                                console.log(cart);
                                localStorage.setItem('cart', JSON.stringify(cart));
                                document.getElementById("cart").innerHTML = "Ostukorv(" + Object.keys(cart).length + ")";
                    
                                // Update the cart display
                                DisplayCart(cart);
                            });
                    
                            function DisplayCart(cart) {
                                let cartString = '<h5>See on sinu ostukorv.</h5>';
                                let cartIndex = 1;
                    
                                for (const x in cart) {
                                    const item = cart[x];
                                    const totalPrice = (item.quantity * item.unitPrice).toFixed(2);
                                    cartString += `${cartIndex}. ${item.name} - Kogus: ${item.quantity} - Hind: €${totalPrice}<br>`;
                                    cartIndex += 1;
                                }
                    
                                if (cartIndex === 1) {
                                    cartString += '<p>Ostukorv on tühi.</p>';
                                } else {
                                    cartString += "<a href='/checkout' id='checkout-link' class='btn btn-warning'>Vormista tellimus</a>";
                                }
                    
                                document.getElementById("cart").setAttribute('data-content', cartString);
                    
                                // Reinitialize popover
                                $('#cart').popover('dispose').popover({
                                    html: true,
                                    content: cartString
                                });
                            }
                        });
                    </script>
                    
                    
                    
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

       
        <!-- Pagination -->
        <div class="row my-4">
            <div class="col-md-12">
                <ul class="pagination justify-content-center">
                    <!-- Previous Button -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
        
                    <!-- Page Numbers -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
        
                    <!-- Next Button -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        {% endblock body %}

        
        <script type="text/javascript">
            console.log("This is working!!");
            if(localStorage.getItem('cart')==null){
                var cart = {};
            }
            else{
                cart = JSON.parse(localStorage.getItem('cart'));
            }

            $(document).on('click','.atc',function(){
                console.log("The add to cart button was clicked");
            });
        </script>

