{%extends "shop/base.html"%}


{% block pagetitle %}KellaPood{% endblock pagetitle %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock scripts %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "shop/includes/navbar.html" %}
            </div>
        </div>
        <!-- Search Form -->
        <div class="row my-3">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Kellade otsing" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- page_obj Grid -->
        <div class="row">
            {% for product in page_obj %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                       <div id="nm{{product.id}}" class="card-title"> {{ product.title }}</div>
                        <p id='price{{product.id}}' class="card-text">{{ product.price }}</p>
                    </div>
                    <div class="d-flex justify-content-between" role="group">
                    <a class="btn btn-warning btn-custom-width" href="{%url 'product-detail' product.pk %} ">Vaata</a>
                    <button id="{{product.id}}" class="btn atc btn-warning btn-custom-width">Lisa korvi</button>
                    <script type="text/javascript">
                        console.log("This is working!!");
                        if (localStorage.getItem('cart') == null) {
                            var cart = {};
                        } else {
                            cart = JSON.parse(localStorage.getItem('cart'));
                        }
                    
                        $(document).off('click', '.atc').on('click', '.atc', function () {
                            console.log("The add to cart button was clicked");
                            var item_id = this.id.toString();
                            console.log(item_id);
                    
                            if (cart[item_id] != undefined) {
                                quantity = cart[item_id][0] +1;
                                cart[item_id][0] = quantity;
                                cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById('price'+item_id).innerHTML);
                            } else {
                                quantity = 1;
                                price = parseFloat(document.getElementById('price'+item_id).innerHTML);
                                name = document.getElementById("nm"+item_id).innerHTML;
                                cart[item_id] = [quantity, name, price];
                            }
                            console.log(cart);
                            localStorage.setItem('cart', JSON.stringify(cart));
                            document.getElementById("cart").innerHTML = "Ostukorv(" + Object.keys(cart).length + ")";
                        });
                    
                        DisplayCart(cart);
                    
                        function DisplayCart(cart) {
                            var cartString = "";
                            cartString += '<h5>See on sinu ostukorv.</h5>';
                            var cartIndex = 1;
                            for (var x in cart) {
                                const itemElement = document.getElementById("nm" + x);
                                if (itemElement) {
                                    cartString += cartIndex + ". ";
                                    cartString += itemElement.innerHTML + " Kogus: " + cart[x][0] + "<br>";
                                    cartIndex += 1;
                                }
                            }
                    
                            cartString += "<a href='/checkout' id='checkout-link' class='btn btn-warning'>Vormista tellimus</a>";


                            document.getElementById("cart").setAttribute('data-content', cartString);
                    
                            // Reinitialize popover
                            $('[data-toggle="popover"]').popover('dispose').popover({
                                html: true, // Ensure HTML content works
                            });
                        }
                    </script>
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

       
        <!-- Pagination -->
        <div class="row my-4">
            <div class="col-md-12">
                <ul class="pagination justify-content-center">
                    <!-- Previous Button -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
        
                    <!-- Page Numbers -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
        
                    <!-- Next Button -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        {% endblock body %}

        
        <script type="text/javascript">
            console.log("This is working!!");
            if(localStorage.getItem('cart')==null){
                var cart = {};
            }
            else{
                cart = JSON.parse(localStorage.getItem('cart'));
            }

            $(document).on('click','.atc',function(){
                console.log("The add to cart button was clicked");
            });
        </script>

